body {
    background-color: #f5f5f5;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .btn {
    border-radius: 5px;
  }
  
  .card.position-absolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Novo elemento */
  .alert-bootstrap {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .alert-bootstrap h4 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .alert-bootstrap p {
    margin-bottom: 10px;
  }