<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhe da Reserva</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
    <!-- ... -->
  </nav>

  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>Detalhe da Reserva</h1>
        <p><b>Número da Reserva:</b> 832</p>
        <p><b>Sala:</b> 3</p>
        <p><b>Início:</b> 30/04/2024 - 14:00</p>
        <p><b>Fim:</b> 30/04/2024 - 16:30</p>
        <p>Reservado para Nome do Professor</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <h3>Gerar Comprovante</h3>
        <p>Gere o pdf do comprovante de reserva.</p>
        <a href="/gerar-comprovante" class="btn btn-dark">Gerar Comprovante</a>
      </div>
      <div class="col-md-6 mb-4">
        <h3>Cancelar Reserva</h3>
        <p>Você pode cancelar a reserva até 12 horas antes do início da reserva.</p>
        <a href="/cancelar-reserva" class="btn btn-danger">Cancelar Reserva</a>
      </div>
    </div>
    <!-- Novo elemento -->
    <div class="alert-bootstrap">
      <h4>Atenção!</h4>
      <p>Verifique se todos os dados estão corretos antes de gerar o comprovante.</p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>